<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>
			{% block title %}E-market
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
		<link href="{{path('home')}}css/bootstrap.min.css" rel="stylesheet">
		<link href="{{path('home')}}css/font-awesome.min.css" rel="stylesheet">
		<link href="{{path('home')}}css/prettyPhoto.css" rel="stylesheet">
		<link href="{{path('home')}}css/price-range.css" rel="stylesheet">
		<link href="{{path('home')}}css/animate.css" rel="stylesheet">
		<link href="{{path('home')}}css/main.css" rel="stylesheet">
		<link href="{{path('home')}}css/custom.css" rel="stylesheet">
		<link href="{{path('home')}}css/responsive.css" rel="stylesheet">
		<link rel="shortcut icon" href="{{path('home')}}images/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{path('home')}}images/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{path('home')}}images/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{path('home')}}images/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="{{path('home')}}images/ico/apple-touch-icon-57-precomposed.png">
		<style>
			/* enable absolute positioning */
			.inner-addon {
				position: relative;
			}

			/* style glyph */
			.inner-addon .glyphicon {
				position: absolute;
				padding: 10px;
				pointer-events: none;
				color: #777;
			}

			/* align glyph */
			.right-addon .glyphicon {
				right: 12px;
			}
		</style>
	</head>
	<body>
		<header
			id="header">
			<!--header-->
			<nav class="navbar navbar-default">
				<div
					class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">E-Market</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<form class="navbar-form navbar-left">
								<div class="form-group">
									<div class="inner-addon right-addon">
										<i class="glyphicon glyphicon-search"></i>
										<input type="text" class="form-control" placeholder="Search"/>
									</div>
								</div>
							</form>
							<li>
								<a href="{{path('home')}}">Home</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="{{path('store')}}">Products</a>
									</li>
									<li>
										<a href="{{path('store')}}">Product content</a>
									</li>
									{#} <li role="separator" class="divider"></li> #}
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="{{path('blog_posts')}}">Posts</a>
									</li>
									<li>
										<a href="{{path('blog_post')}}">Post content</a>
									</li>
									<li role="separator" class="divider"></li>
									<li>
										<a href="{{path('404')}}">404</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="{{path('contact')}}">contact</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="{{path('shopping_cart')}}">
									<i class="fa fa-shopping-cart"></i>
									Cart</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<i class="fa fa-user"></i>
									My Account<span class="caret"></span>
								</a>
								{% if app.user %}
									{%  set profile = app.user.profile %}
									<ul class="dropdown-menu">
										<li>{%  set image = "images/profiles/" ~ profile.picture %}
											<span><img src="{{asset(image)}}" class="avatar-sm center"/></span>
										</li>
										<li class="text-center">{{profile.fullName}}</li>
										<li role="separator" class="divider"></li>
										<li>
											<a href="{{path('user_account')}}">Summary</a>
										</li>
										<li>
											<a href="{{path('user_profile_edit')}}">Profile</a>
										</li>
										<li role="separator" class="divider"></li>
										<li>
											<a href="{{path('user_logout')}}">Logout</a>
										</li>
									</ul>
								{% else %}
									<ul class="dropdown-menu">
										<li>
											<a href="{{path('user_login')}}">Login</a>
										</li>
										<li>
											<a href="{{path('user_register')}}">Register</a>
										</li>
									</ul>
								</ul>
							{% endif %}
						</div>
						<!-- /.navbar-collapse -->
					</div>
					<!-- /.container-fluid -->
				</nav>
			</header>
			<!--/header-->
			{% block body %}{% endblock %}
			<footer
				id="footer">
				<!--Footer-->
				<div class="footer-top">
					<div class="container">
						<div class="row">
							<div class="col-sm-3">
								<div class="companyinfo">
									<h2>
										<span>E</span>-Market</h2>
									<p>Multi-vendor ecommerce application, based on Symfony framework</p>
								</div>
							</div>
							<div class="col-sm-9">
								<div class="address">
									<img src="{{path('home')}}images/home/map.png" alt=""/>
									<p>10205 Saint-laurent blvd. Montreal, QC(Canada)</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-widget">
					<div class="container">
						<div class="row">
							<div class="col-sm-2">
								<div class="single-widget">
									<h2>Service</h2>
									<ul class="nav nav-pills nav-stacked">
										<li>
											<a href="#">Online Help</a>
										</li>
										<li>
											<a href="#">Contact Us</a>
										</li>
										<li>
											<a href="#">Order Status</a>
										</li>
										<li>
											<a href="#">Change Location</a>
										</li>
										<li>
											<a href="#">FAQ’s</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="single-widget">
									<h2>Quick Shop</h2>
									<ul class="nav nav-pills nav-stacked">
										<li>
											<a href="#">Computers</a>
										</li>
										<li>
											<a href="#">Tablets</a>
										</li>
										<li>
											<a href="#">Printers</a>
										</li>
										<li>
											<a href="#">Accessories</a>
										</li>
										<li>
											<a href="#">Network and Security</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="single-widget">
									<h2>Policies</h2>
									<ul class="nav nav-pills nav-stacked">
										<li>
											<a href="#">Terms of Use</a>
										</li>
										<li>
											<a href="#">Privecy Policy</a>
										</li>
										<li>
											<a href="#">Refund Policy</a>
										</li>
										<li>
											<a href="#">Billing System</a>
										</li>
										<li>
											<a href="#">Ticket System</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="single-widget">
									<h2>About E-Market</h2>
									<ul class="nav nav-pills nav-stacked">
										<li>
											<a href="#">Company Information</a>
										</li>
										<li>
											<a href="#">Careers</a>
										</li>
										<li>
											<a href="#">Store Location</a>
										</li>
										<li>
											<a href="#">Affiliate Program</a>
										</li>
										<li>
											<a href="#">Copyright</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-3 col-sm-offset-1">
								<div class="single-widget">
									<h2>Keep In Touch</h2>
									<form action="#" class="searchform">
										<input type="text" placeholder="Your email address"/>
										<button type="submit" class="btn btn-default">
											<i class="fa fa-arrow-circle-o-right"></i>
										</button>
										<p>Get the most recent updates from
											<br/>our site and be updated your self...</p>
									</form>
									<hr>
									<div>
										<span>
											<a href="">
												<i class="fa fa-facebook"></i>
											</a>
										</span>
										<span>
											<a href="">
												<i class="fa fa-twitter"></i>
											</a>
										</span>
										<span>
											<a href="">
												<i class="fa fa-instagram"></i>
											</a>
										</span>
										<span>
											<a href="">
												<i class="fa fa-pinterest"></i>
											</a>
										</span>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="container">
						<div class="row">
							<p class="pull-left">Copyright © 2020 E-Market Inc. All rights reserved.</p>
							<p class="pull-right">Designed by
								<span>
									<a target="_blank" href="http://www.themeum.com">BmaConsulting</a>
								</span>
							</p>
						</div>
					</div>
				</div>

			</footer>
			<!--/Footer-->
			{% block javascripts %}{% endblock %}
			<script src="{{path('home')}}js/jquery.js"></script>
			<script src="{{path('home')}}js/bootstrap.min.js"></script>
			<script src="{{path('home')}}js/jquery.scrollUp.min.js"></script>
			<script src="{{path('home')}}js/price-range.js"></script>
			<script src="{{path('home')}}js/jquery.prettyPhoto.js"></script>
			<script src="{{path('home')}}js/main.js"></script>
		</body>
	</body>
</html>
